.container {
  height: 100%;
  background-color: #333;

  display: flex;
  flex-direction: column;

  > main {
    flex: 1;
    // padding: 10px;
    margin: 10px;
    background-color: #f5f6f7;
  }

  > footer {
    padding: 10px;
    margin: 10px auto;

    width: 50%;
    height: 80px;
    background-color: #f5f6f7;

    overflow: auto;

    > aside {
      float: right;
      font-size: 3em;
      color: green;
    }
  }
}
